* {margin:0;padding: 0; outline: 0;user-select: none; }

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

.balon{
    display: inline-block;
    height: 100px;
    width: 76px;
    background-size: contain;
    cursor: pointer;
    background: transparent url('assets/balon.svg') no-repeat top left;
    margin:5px;
}
.patladi{
    display:none;
}
.kirmizi{
    background: transparent url('assets/balon.svg') no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.mavi{
    background: transparent url('assets/mavi.svg') no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.yesil{
    background: transparent url('assets/yesil.svg') no-repeat top left;
    background-size: contain;
    cursor: pointer;
}
 
 
.sari{
    background: transparent url('assets/sari.svg') no-repeat top left;
    background-size: contain;
    cursor: pointer;
}
.pembe{
    background: transparent url('assets/pembe.svg') no-repeat top left;
    background-size: contain;
    cursor: pointer;
}
 
 